doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/weather.js')
  body
    block content
    div(class="btn-group")
        button(type="button",onclick="window.location.href = window.location.href.replace('weather','weather')") Weather
        button(type="button",onclick="window.location.href = window.location.href.replace('weather','news')") News
        
    div(class="btn-group")
        
        button(type="button",onclick="window.location.href = window.location.href.replace('weather','sports')") Sports 
        button(type="button",onclick="window.location.href = window.location.href.replace('weather','settings')") Settings
    
    h1 Current Weather
    div(class="imgDiv")
        img(id="cImg")
    
    h2(id="cDes",style="text-transform: capitalize;")
    table( class= "current")
        tr
            td Temperature 
            td(id="cTemp")
        tr
            td Feels Like
            td(id="cFeel")
        tr
            td Humidity
            td(id="cHum")
        tr
            td Wind Speed
            td(id="cWind")     
    h1(id="dh",onclick="showDaily();") Daily Forecast &#9660
    div(id="dailyDiv",style="display:none")
        -for(var x = 0;x<8;x++)
            h2(id=x+"Date")
            h2(id=x+"Des")
            div(class="imgDiv")
                img(id=x+"Img",class="dImg")
            table( class= "current")
                tr
                    td Temperature High
                    td(id=x+"TempH")
                tr
                    td Temperature Low
                    td(id=x+"TempL")
                tr
                    td Humidity
                    td(id=x+"Hum")
                tr
                    td Wind Speed
                    td(id=x+"Wind")
            br
            br
            br
          




    